<footer id="footer" class="site-footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="clearfix container">
      <div class="site-info">
	      &copy; <%= date(new Date(), 'YYYY') %> <a href="https://blog.latelee.org/" %> target="_blank"><%= config.title || config.author %></a> <%= __('copyright') %>.<br>
          本博客由hexo强力驱动，主题修改自<a href="https://github.com/iTimeTraveler/hexo-theme-hipaper" target="_blank">hipaper</a><br>
          
          <!-- 这里显式显示站长统计链接和文字，但实际进行统计的代码是在另一个文件，只是那个脚本的代码不会显示在页面上  -->
          &nbsp;&nbsp <a href="http://www.cnzz.com/stat/website.php?web_id=1253384121" target="_blank">站长统计</a>
      </div>
  </div>
</footer>


<!-- min height -->

<script>
    var wrapdiv = document.getElementById("wrap");
    var contentdiv = document.getElementById("content");

    wrapdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";
    contentdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";


    <!-- headerblur min height -->
    <% if (is_current("about", false) && theme.about_big_image){ %>
      var headerblur = document.getElementById("header-blur");
      headerblur.style.minHeight = window.getComputedStyle(document.getElementById("allheader"), null).height;
    <% } %>
    
</script>